<br>
<%= form_for(zone) do |f| %>
<div class="form-user">

<div class="input-group form-label-width">
  <%= f.label :user_name, class: "input-group-addon form-label-width-addon" %>
  <%= f.text_field :user_name, class: "form-control form-width-control" %>
</div>
<br>
  <div class="input-group form-label-width">
  <%= f.label :email, class: "input-group-addon form-label-width-addon" %>
  <%= f.email_field :email, class: "form-control form-width-control" %>
</div>
<br>

  <div class="input-group form-label-width">
  <%= f.label :name, class: "input-group-addon form-label-width-addon" %>
  <%= f.text_field :name, class: "form-control form-width-control" %>
  </div>
  <br>

  <div class="input-group form-label-width">
  <%= f.label :address, class: "input-group-addon form-label-width-addon" %>
  <%= f.text_field :address, class: "form-control form-width-control" %>
  </div>
  <br>

  <div class="input-group form-label-width">
  <%= f.label :city, class: "input-group-addon form-label-width-addon" %>
  <%= f.text_field :city, class: "form-control form-width-control" %>
  </div>
  <br>

  <div class="input-group form-label-width">
  <%= f.label :state, class: "input-group-addon form-label-width-addon" %>
  <%= f.text_field :state, class: "form-control form-width-control" %>
  </div>
  <br>

  <div class="input-group form-label-width">
  <%= f.label :zip, class: "input-group-addon form-label-width-addon" %>
  <%= f.text_field :zip, class: "form-control form-width-control" %>
  </div>
  <br>
  <div class="input-group form-label-width">
  <%= f.label :password, class: "input-group-addon form-label-width-addon"  %>
  <%= f.password_field :password, class: "form-control form-width-control" %>
  </div>
  <br>
  <div class="input-group form-label-width">
  <%= f.label :password_confirmation, class: "input-group-addon form-label-width-addon" %>
  <%= f.password_field :password_confirmation, class: "form-control form-width-control" %>
  </div>
  <br>
  <div class="input-group form-label-width">
    <%= f.label :password_confirmation, class: "input-group-addon form-label-width-addon" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <br>
  <div class="input-group form-label-width">
    <%= f.label :'Credit card last four digits', class: "input-group-addon form-label-width-addon" %>
    <%= f.number_field :last_four_cc , class: "form-control"%>
  </div>
  <br>
  <div class="input-group form-label-width">
    <%= f.label :'CVV', class: "input-group-addon form-label-width-addon" %>
    <%= f.number_field :cc_cvv, class: "form-control" %>
  </div>
  <br>
  <div class="input-group form-label-width">
    <%= f.label :'Billing Zip Code', class: "input-group-addon form-label-width-addon" %>
    <%= f.text_field :billing_zip, class: "form-control" %>
  </div>
  <br>

  <%= f.submit "Create Account", class: "btn btn-primary btn-md" %>
  <% end %>
</div>

</div>
