<%= form_for(zone, url: url) do |f| %>
  <div class="form-product">

    <p><div class="input-group form-label-width">
      <%= f.label :name, class: "input-group-addon form-label-width-addon" %>
      <%= f.text_field :name, class: "form-control", placeholder: "Product name" %>
    </div></p>

    <p><div class="input-group form-label-width">
      <%= f.label :description, class: "input-group-addon form-label-width-addon" %>
      <%= f.text_field :description, class: "form-control", placeholder: "Product description" %>
    </div></p>

    <p><div class="input-group form-label-width">
      <%= f.label :price, class: "input-group-addon form-label-width-addon" %>
      <%= f.text_field :price, class: "form-control", placeholder: "$ (in dollars)", value: to_money(zone.price) %>
      </div></p>

    <p><div class="input-group form-label-width">
      <%= f.label :photo_url, class: "input-group-addon form-label-width-addon" %>
      <%= f.url_field :photo_url, class: "form-control", placeholder: "URL (optional)" %>
      </div></p>

    <p><div class="input-group form-label-width">
      <%= f.label :stock, class: "input-group-addon form-label-width-addon" %>
      <%= f.number_field :stock, class: "form-control", placeholder: "(required)" %>
    </div></p>

    <p><div class="input-group form-label-width">
      <%= f.label :categories, value: "Category (re-select existing category to delete):" %>
      <%= f.select :categories, options_for_select(@categories.map { |c| [c.name, c.id] }, zone.categories.map { |c| c.id }), {}, {multiple: true, class: "form-control"} %>
    </div></p>

    <p><div class="input-group form-label-width">
      <p><%= f.label :retired, "Retire this product?" %></p>
      <%= f.radio_button :retired, false %> 
      <%= f.label :retired, 'No', :value => false %>
      <%= f.radio_button :retired, true %>
      <%= f.label :retired, 'Yes', :value => true %>
    </div></p>

    <div class="prod-submit">
      <%= f.submit class: "btn btn-success" %>
    </div>

  </div>
<% end %>