<h1>Welcome! Here are <%= User.find(params[:user_id]).user_name %>'s products:</h1>

<% categories_for_select = @categories.map { |c| [c.name, c.id] } %>
<%= form_tag user_products_path, method: :get do %>
<%= select_tag(:category, options_for_select(categories_for_select, :selected => params[:category]), :prompt => "Browse by Category...") %>

<%= submit_tag "Submit" %>
<% end %>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div id="product_photo"><img src =<%= product.photo_url %>></div>
        <div class="caption">
          <%= link_to product.name, user_product_path(params[:user_id], product.id) %>
        <p class="price"><%= to_money(product.price) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
