<h1>This order info</h1>

<div class="panel panel-primary">
  <div class="panel-heading"><h3>Order Item Info
  </h3></div>
  <table class="table">
    <tr>
      <td><strong>Order Id: </strong></td><td><%=@order.id%></td>
    </tr>
    <tr>
      <td><strong>Total: </strong></td><td><%=@order.total%></td>
    </tr>
    <tr>
      <td><strong>Placed at: </strong></td><td><%=@order.created_at%></td>
    </tr>
    <tr>
      <td><strong>Updated at: </strong></td><td><%=@order.updated_at%></td>
    </tr>
    <tr>
      <td><strong>Buyer's name: </strong></td><td><%=@order.user.name%></td>
    </tr>
    <tr>
      <td><strong>Buyer's name: </strong></td><td><%=@order.user.email%></td>
    </tr>
    <tr>
      <td><strong>Buyer's address: </strong></td><td><%=@order.user.address%></td>
    </tr>
    <tr>
      <td><strong>Buyer's city: </strong></td><td><%=@order.user.city%></td>
    </tr>
    <tr>
      <td><strong>Buyer's state: </strong></td><td><%=@order.user.state%></td>
    </tr>
    <tr>
      <td><strong>Buyer's zip: </strong></td><td><%=@order.user.zip%></td>
    </tr>
    <tr>
      <td><strong>Last 4 digits buyer's  credit card: </strong></td><td><%=@order.user.state%></td>
    </tr>
    <tr>
      <td><strong>Buyer's credit card expiration date: </strong></td><td><%=@order.user.state%></td>
    </tr>
  </table>
</div>
