<% if @order.errors.any? %>
    <% @order.errors.each do |column, message| %>
      <%  flash.now[:notice] = "#{column.capitalize}: #{message} "%>
    <% end %>
<% end %>

<%= render partial: "cart" %>

<div class="form-user">

<%= form_for @order, url: order_path(session[:order_id]), method: :patch do |f| %>
<div class="input-group">
  <%= f.label :name, class: "input-group-addon" %>
  <%= f.text_field :name, class: "form-control" %>
</div>
<br>
<div class="input-group">
  <%= f.label :email, class: "input-group-addon" %>
  <%= f.text_field :email, class: "form-control" %>
</div>
<br>
<div class="input-group">
  <%= f.label :address, class: "input-group-addon" %>
  <%= f.text_field :address, class: "form-control" %>
</div>
<br>
<div class="input-group">
  <%= f.label :city, class: "input-group-addon" %>
  <%= f.text_field :city, class: "form-control" %>
</div>
<br>
<div class="input-group">
  <%= f.label :state, class: "input-group-addon" %>
  <%= f.text_field :state, class: "form-control" %>
</div>
<br>
<div class="input-group">
  <%= f.label :zip, class: "input-group-addon" %>
  <%= f.number_field :zip, class: "form-control" %>
</div>
<br>
<div class="input-group">
  <%= f.label :'Name as appears on card', class: "input-group-addon" %>
  <%= f.text_field :card_name, class: "form-control" %>
</div>
<br>
<div class="input-group">
  <%= f.label :'Credit card number', class: "input-group-addon" %>
  <%= f.number_field :last_four_cc, class: "form-control" %>
</div>
<br>
<div class="input-group">
  <%= f.label :'Credit card expiration', class: "input-group-addon" %>
  <%= f.select :cc_exp_month, options_for_select([["01", "01"], ["02", "02"], ["03", "03"], ["04", "04"], ["05", "05"], ["06", "06"], ["07", "07"], ["08", "08"], ["09", "09"], ["10", "10"], ["11", "11"], ["12", "12"]], class: "dropdown-item") %>
  <span>  </span>
  <%= f.select :cc_exp_year, options_for_select([["2016", "2016"], ["2017", "2017"], ["2018", "2018"], ["2019", "2019"], ["2020", "2020"]], class: "dropdown-menu"), class: "btn btn-secondary dropdown-toggle" %>
</div>
<br>
<div class="input-group">
  <%= f.label :'CVV', class: "input-group-addon" %>
  <%= f.number_field :cc_cvv, class: "form-control"%>
</div>
<br>
<div class="input-group">
  <%= f.label :'Billing Zip Code', class: "input-group-addon" %>
  <%= f.text_field :billing_zip, class: "form-control" %>
</div>
<br>
<div class="input-group">
  <%= f.submit :'Complete Purchase', class: "btn btn-primary btn-md" %>
  <% end %>
</div>
