<h1>Hello <%=@user.name%>, this is the info about this Order Item</h1>
<div class="panel panel-primary">
  <div class="panel-heading"><h3>Order Item Info
  </h3></div>
  <table>
    <tr>
      <td>Item id</td> <td><%=@item.id%></td>
    </tr>
    <tr>
      <td>Order id: </td><td><%=@item.order_id%></td>
    </tr>
    <tr>
      <td>Product</td><td><%=@item.product.name%></td>
    </tr>
    <tr>
      <td>Quantity:</td><td><%=@item.quantity%></td>
    </tr>
    <tr>
      <td>Added to the cart at:</td><td><%=@item.created_at%></td>
    </tr>
    <tr>
      <td>Buyer's Name:</td><td><%=@item.product.user.name%></td>
    </tr>
    <tr>
      <td>Buyer's email:</td><td><%=@item.product.user.email%></td>
    </tr>
  </table>
</div>
