<h1>Welcome! Browse our products:</h1>
<p>Order id for the session: <%= session[:order_id] %></p>
<p><%= butts = OrderItem.where(order_id: 17) %>
    <%= butts.each do |butt| %>
    <%= butt.product_id %>
    <%= butt.order_id %>
    <%= butt.quantity %>
    <% end %></p>

<%= link_to "Back to All Products", products_path if params[:category] || params[:merchant] %>

<% categories_for_select = @categories.map { |c| [c.capitalize, c] } %>
<%= form_tag products_path, method: :get do %>
<%= select_tag(:category, options_for_select(categories_for_select, :selected => params[:category]), :prompt => "Browse by Category...") %>

<% merchants_for_select = @merchants.map { |m| [m.user_name, m.id] } %>
<%= select_tag(:merchant, options_for_select(merchants_for_select, :selected => params[:merchant]), :prompt => "Browse by Merchant...") %>

<%= submit_tag "Submit" %>
<% end %>

<% @products.each do |product| %>
  <p>
  <%= link_to product.name, product_path(product.id) %>
  <span class="price"><%= to_money(product.price) %></span>
  </p>
<% end %>
