<h1>Welcome! Browse our products:</h1>

<% categories_for_select = @categories.map { |c| [c.name, c.id] } %>
<%= form_tag products_path, method: :get do %>
<%= select_tag(:category, options_for_select(categories_for_select, :selected => params[:category]), :prompt => "Browse by Category...") %>

<% merchants_for_select = @merchants.map { |m| [m.user_name, m.id] } %>
<%= select_tag(:merchant, options_for_select(merchants_for_select, :selected => params[:merchant]), :prompt => "Browse by Merchant...") %>

<%= submit_tag "Submit" %>
<% end %>

<div class="row">
<% @products.each do |product| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
          <div id="product_photo"><img src =<%= product.photo_url %>> </div>
  <div class="caption">
    <%= link_to product.name, product_path(product.id) %>
  <p class="price"><%= to_money(product.price) %></p>
    <p><a href="#" class="btn btn-primary" role="button">See</a>
    <a href="#" class="btn btn-default" role="button">Buy</a>
    <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
