<%= link_to "Back to products", products_path %>

<h1><%= @product.name %></h1>

<img src=<%= @product.photo_url %>>

<p><em><%= @product.description %></em></p>
<p><strong>Price:</strong> <%= to_money(@product.price) %></p>
<p><strong>Categories:</strong> 
  <% @product.categories.each do |category| %>
    <p><%= category.name %></p>
  <% end %>
</p>

<%= form_tag add_to_cart_product_path(@product.id) do %>
       <%= select_tag :quantity, options_for_select([1,2,3,4,5,6,7,8,9,10]) %>
       <%= submit_tag 'Add to Cart' %>
<% end %>

<p>Reviews for <%=@product.name%><p>
<p><%=@product.display_avg(@product, @reviews)%></p>

<% @reviews.each do |review| %>
  <ul>
    <li>Reviewed by: <%= review.get_user_name %></li>
    <li>Review: <%=review.review%></li>
    <li>Rating: <%=review.rating%></li>
  </ul>
<%end%>

<p><%=link_to "Review this product", new_product_review_path(@product.id) unless current_user == @product.user %></p>

<p><%= link_to "See all reviews", product_reviews_path(@product.id) %></p>
